<!DOCTYPE html>

<html>


<head> <title>User Creation</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"/>
</head>

<body>

<div th:replace="fragments/header :: header">Header</div>
    <div class="container">
      <div class="well">
        <div class="input-group">
        <h1>User Creation</h1>
        <table class="table">
          <tr>
            <th><input type="text" class="form-control" placeholder="First Name" /></th>
            <th><input type="text" class="form-control" placeholder="Last Name" /></th>
            <th><input type="text" class="form-control" placeholder="Middle Name" /></th>
          </tr>
          <tr>
            <th><input type="text" class="form-control" placeholder="Position" /></th>
            <th><input type="text" class="form-control" placeholder="Supervisor" /></th>
          </tr>
          <tr>
            <th><input type="text" class="form-control" placeholder="Date Hired" /></th>
            <th><input type="text" class="form-control" placeholder="Level" /></th>
          </tr>
          <tr>
            <th><input type="text" class="form-control" placeholder="SSS" /></th>
            <th><input type="text" class="form-control" placeholder="TIN" /></th>
          </tr>
          <tr>
            <th><input type="text" class="form-control" placeholder="PAGIBIG" /></th>
            <th><input type="text" class="form-control" placeholder="Healthcard" /></th>
          </tr>
          <tr>
            <th><div class="bs-example"><div class="btn-group" style="margin: 9px 0 5px;">
      <button type="button" class="btn btn-default">Create User</button></div></div></th>
          </tr>
      </table>
        </div>
      </div>
    </div>

</body>

</html>